/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Portio HTML
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import "variables";

@import "../bootstrap-4.5.2/scss/bootstrap";

@import "typography";

@import "mixins";

@import "buttons";

@import "common";

@import "components/preloder";

@import "components/navbar";

@import "components/hero-section";

@import "components/about-section";

@import "components/service-section";

@import "components/portfolio-section";

@import "components/resume-section";

@import "components/skill-section";

@import "components/testimonial-section";

@import "components/blog-section";

@import "components/footer-section";

@import "components/blog";

@import "components/single-blog-post";

@import "components/page-title";

@import "components/contact";

@import "components/case_details";

// Przełącznik tekstu dla przycisków rozwijających zawartość
.read-more-toggle[aria-expanded="true"] {
    .more-text {
        display: none !important;
    }

    .less-text {
        display: block !important;
    }
}

// Zwiększenie płynności rozwijania i usuwanie przeskakiwania marginesów na końcu animacji
.collapsing {
    transition: height 0.5s ease-in-out !important;
}

.collapse {

    >p:last-child,
    >ul:last-child,
    >ol:last-child {
        margin-bottom: 0 !important;
    }
}